@model Practica_EF_MVC.Models.CustomerView

@{
    ViewBag.Title = "Insertar/Editar";
}

@ViewBag.l
<h3>Cliente</h3>
    @using (Html.BeginForm("Result_Edit", "Customers", FormMethod.Post))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    <div class="col-md-10" style="margin-bottom:20px; display:flex; flex-direction:row">
                        <div class="col-md-10" style="margin-bottom:20px; display:flex; flex-direction:row">
                            @if (model.CustomerID == null)
                            {
                                <div class="col-md-10" style="margin-bottom:20px;">
                                    @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            }
                            else
                            {
                                <p style="color:deeppink; margin-right:5px">Codigo:</p>
                                @Model.CustomerID
                            }
                        </div>
                    </div>
                    <div class="col-md-10" style="margin-bottom:20px;">
                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10" style="margin-bottom:20px;">
                        @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10" style="margin-bottom:20px;">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-left:50%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="background-color: deeppink; color:white;" />
            </div>
        </div>
    }
<hr />
<div class="btn btn-default"><a> @Html.ActionLink("Volver", "Index")</a> &raquo;</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
