@model Practica_EF_MVC.Models.CustomerView

@{
    ViewBag.Title = "Insertar/Editar";
}

<h3>Cliente</h3>
@using (Html.BeginForm("Result_Edit", "Customers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-md-10">
            <div class="col-md-10" style="margin-bottom:20px; display:flex; flex-direction:row">
                <div class="col-md-10" style="margin-bottom:20px; display:flex; flex-direction:row">
                    <p style="color:deeppink; margin-right:5px">Codigo Cliente:</p>
                    @Html.HiddenFor(model => model.CustomerID)
                </div>
            </div>
            <div class="col-md-10" style="margin-bottom:20px;">
                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName)

            </div>
            <div class="col-md-10" style="margin-bottom:20px;">
                @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName)

            </div>
            <div class="col-md-10" style="margin-bottom:20px;">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country)

            </div>
        </div>
    </div>
</div>
    <div class="form-group" style="margin-left:50%">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" style="background-color: deeppink; color:white;" />
        </div>
    </div>
}
<hr />
<div class="btn btn-default"><a> @Html.ActionLink("Volver", "Index")</a> &raquo;</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
