@model List<Practica_EF_MVC.Models.CustomerView>
@{
    ViewBag.Title = "Clientes";
}
<h3 style="float:right;color:dodgerblue">@ViewBag.Mensaje</h3>

<div class="btn btn-default"><a>@Html.ActionLink("Nuevo Cliente", "Edit", routeValues: new { custId = "NUEVO" })</a> &raquo;</div>
<hr />
<div>
    <table class="table-responsive table table-striped">
        <thead>
            <tr>
                <th>Compania</th>
                <th>Contacto</th>
                <th>Pais</th>
                <th>Identificador</th>
            </tr>
        </thead>

        @foreach (var cust in Model)
        {
            <tr>
                <td>@cust.CompanyName</td>
                <td>@cust.ContactName</td>
                <td>@cust.Country</td>
                <td>@cust.CustomerID</td>
                <td style="font-weight:600">
                    @Html.ActionLink("Editar", "Edit", routeValues: new { custId = cust.CustomerID }) &raquo;
                </td>
                <td style="font-weight:600">
                    @Html.ActionLink("Eliminar", "Delete", routeValues: new { custId = cust.CustomerID }) &raquo;
                </td>
            </tr>
        }
    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

