@model List<Practica_EF_MVC.Models.CharactersView>
@{
    ViewBag.Title = "Personajes";
}

<h3 style="float:right;color:dodgerblue">@ViewBag.Mensaje</h3>

<hr />
<div>
    @foreach (var m in Model)
    {
        <p>@m.id</p>
        <h3>@m.name</h3>
        <p>@m.status</p>
        <p>@m.species</p>
        <div class="jumbotron">
            <div class="container">
                <img src="@m.img" />
            </div>
        </div>

    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

